@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

body {
  	background: #E2E2E2;
  	color: #1D2D3D;
}

body, h1 {
	font: normal 18px/1.5 "Roboto", sans-seif;
	display: inline;
}

.bar {
	background-color: #BB0000;
	color:  #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
}

.container {
	width: 80%;
	max-width: 1200px;
	min-width: 370px;
	margin: 0 auto;
	height: 100%;
}

.container * {
	box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 0px;
}

.flex-outer {
	list-style-type: none;
	padding: 0;
}

.flex-outer {
	max-width: 800px;
	margin: 0 auto;
}

.flex-outer li{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flex-outer > li:not(:last-child) {
	margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
	padding: 5px;
	font-weight: 300;
	letter-spacing: .09em;
	text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
	flex: 1 0 120px;
	max-width: 220px;
}

.flex-outer > li > label + * {
  	flex: 1 0 220px;
}

.flex-outer li p {
  	margin: 0;
}

.flex-outer li input {
	padding: 10px;
	border-radius: 2px;
	font-size: 15px;
	font-family: "Arial", sans-serif;
}

button {
	margin-left: auto;
	font-size: 18px;
	padding: 8px 16px;
	margin-bottom: 10px;
	border: 1px solid #F2F2F2;
	background: #1D2D3D;
	color: #F2F2F2;
	text-transform: uppercase;
	letter-spacing: .09em;
	border-radius: 2px;
	font-family: "Roboto", sans-serif;
}

.button {
	text-align: center;
}

thead, .test-name {
	text-transform: uppercase;
}

table {
	padding-top: 10px;
	width: 90%;
	margin-left:5%; 
    margin-right:5%;
    margin-top: 10px;
    letter-spacing: 1px;
    border-collapse: collapse;
}

table, tr, td {
  border-bottom: 1px solid #1D2D3D;
}

td {
	width: 33%;
	text-align: center;
}

.taf-score {
	text-align: center;
	font-size: 30px;
}

footer {
	margin-top: 10px;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 15px;
	text-align: center;
	bottom: 0;
}